@use "../scss/util" as u;
#brand__banner {
	background: linear-gradient(
		180deg,
		rgba(252, 243, 232, 1) 0%,
		rgba(231, 200, 231, 1) 100%
	);
	h2 {
		font-size: 3em;
		color: var(--three);
	}
	p {
		font-size: 1.5em;
		color: #4d4d4d;
	}
	.content {
		padding: 6em 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6em;
		.text {
			max-width: 800px;
			text-align: center;
		}
	}
}

@include u.breakpoint-down(extra-medium) {
	#homeTwo {
		#brand__banner {
			.content {
				flex-direction: column-reverse;
				h2 {
					font-size: 2.4em;
					margin-bottom: 0.5em;
				}
			}
		}
	}
}

@include u.breakpoint-down(small) {
	#homeTwo {
		#brand__banner {
			padding: 0 0.5em;
			.content {
				h1 {
					font-size: 2.5em;
				}
				p {
					font-size: 1.2em;
				}
				gap: 1em;
				width: 100%;
				margin: 0;
				.text {
					width: 100%;
					.center-title {
						padding: 0;
					}
				}
			}
		}
	}
}
