@use "../scss/util" as u;
@use "sass:math" as m;

////////////////////////// DESKTOP
#homeTwo {
	.hero {
		padding: 2em;
		padding-top: 4em;
		.content {
			display: flex;
			flex-direction: row;
		}
		h2 {
			color: var(--three);
			font-size: 3em;
		}
		p {
			font-size: 1.3em;
		}
		.img-container {
			width: clamp(350px, 35%, 1200px);
		}

		.floating-wrapper {
			width: 40%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			position: relative;
		}

		.floating {
			animation: float 4s ease-in-out infinite;
			display: block;
			margin: 0 auto;
		}

		@keyframes float {
			0% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(-10px);
			}
			100% {
				transform: translateY(0);
			}
		}

		.shadow {
			position: absolute;
			bottom: -5%;
			left: 50%;
			transform: translateX(-50%);
			width: 20em;
			height: 2em;
			background: radial-gradient(
				ellipse at center,
				rgba(0, 0, 0, 0.2) 0%,
				transparent 80%
			);
			border-radius: 50%;
		}

		min-height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fcf3e8;
		background: linear-gradient(
			180deg,
			rgba(252, 243, 232, 1) 0%,
			rgba(231, 200, 231, 1) 100%
		);
		.content {
			color: #4d4d4d;
			align-items: center;
			gap: 5em;
		}
		.text {
			width: 65%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;

			gap: 1rem;
			.sub {
				color: var(--three);
				width: 100%;
			}
		}
	}
}
/////////////////////////// END DESKTOP

/////////////////////// TABLET //////////////////

@include u.breakpoint-down(extra-medium) {
	#homeTwo {
		.hero {
			.content {
				gap: 3em;
				#cta-button {
					padding-top: 0;
					margin-top: 0;
				}
				.floating-wrapper {
					width: clamp(160px, 35%, 800px);
					align-items: center;
				}
				.text {
					width: 70%;
				}
			}
		}
	}
}

/////////////////////// MEDIUM //////////////////

@include u.breakpoint-down(medium) {
	#homeTwo {
		.hero {
			padding: 1.5em;
			padding-top: 3em;
			.content {
				padding: 1em;
				flex-direction: column-reverse;
				gap: 1em;
				.text {
					width: 100%;
				}
			}
		}
	}
}

/////////////////////// SMALL //////////////////

@include u.breakpoint-down(small) {
	#homeTwo {
		.floating-wrapper {
			.shadow {
				width: 65%;
			}
		}
		section {
			padding: 5em 1em;
		}
		.hero {
			padding-top: 1em;
			.content {
				.img-container {
					width: 100%;
				}
				.text {
					width: 100%;
					max-width: 100%;
					h2 {
						font-size: 2rem;
					}
					h3 {
						font-size: 1.3rem;
					}
					h4 {
						font-size: 1rem;
					}
				}
			}
		}
	}
}
