@use "../scss/util" as u;
@use "sass:math" as m;

#about {
	p {
		margin: 0;
	}
	.about-header {
		background: linear-gradient(
			180deg,
			rgba(252, 243, 232, 1) 50%,
			rgba(231, 200, 231, 1) 100%
		);
		.header-content-container {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			padding: 4em 2em;
			gap: 2em;
			// border-radius: 1em;
		}
		.intro-card {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			width: 50%;

			// padding: 3em 0;

			.img-container {
				img {
					border-radius: 50%;
					margin-bottom: 2em;
				}
			}
			.intro-text {
				h1,
				h3 {
					text-align: center;
					color: var(--three);
					margin: 0.3em auto;
				}
			}
		}

		.welcome-message {
			// max-width: 800px;
			width: clamp(300px, 70%, 1000px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// padding: 4em;

			// background: linear-gradient(
			// 	180deg,
			// 	rgba(252, 243, 232, 1) 50%,
			// 	rgba(231, 200, 231, 1) 100%
			// );

			h3,
			p {
				width: 80%;
			}
			h3 {
				color: var(--three);
			}
		}
	}

	p {
		color: #4d4d4d;
		font-size: 1.3em;
	}
	.about-quote {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding: 4em 2em;
		background: linear-gradient(
			0deg,
			rgba(252, 243, 232, 1) 0%,
			rgba(231, 200, 231, 1) 100%
		);

		.quote-text {
			width: fit-content;
			// background-color: red;
			width: 40%;
			h2 {
				font-style: italic;
				color: var(--three);
				font-size: 2em;
			}
		}
	}

	.about-sections {
		padding: 0;
		.cta {
			text-align: center;
		}
		.section-block {
			display: flex;
			// flex-direction: row;
			justify-content: center;
			align-items: center;
			background-color: ivory;
			width: 100%;
			.content {
				// width: clamp(300px, 100%, 1200px);
				// max-width: 1400px;
				// margin: 0 auto;
				padding: 4em 2em;
				// display: flex;
				flex-direction: row-reverse;
				// justify-content: space-evenly;
				// align-items: center;
				.img-container {
					img {
						max-height: 400px;
					}
				}
				.text {
					width: 60%;
					.link {
						font-size: inherit;
						text-decoration: underline;
						color: var(--five);
					}
				}

				h3 {
					color: var(--three);
					margin-bottom: 1em;
					font-size: 1.8em;
				}
				h2 {
					color: var(--three);
					margin-bottom: 1em;
					font-size: 1.9em;
				}

				p,
				li {
					font-size: 1.3em;

					color: #4d4d4d;
				}
			}
		}

		.section-block.alt {
			background-color: var(--seven);
			.content {
				flex-direction: row;
			}
		}

		.section-block.checklist {
			background-color: ivory;

			h4 {
				color: var(--three);
				margin-bottom: 1em;
			}

			ul {
				color: #4d4d4d;
				padding-left: 1.2em;

				li {
					margin-bottom: 0.8em;
				}
			}

			h3:last-child {
				margin-top: 2em;
				color: var(--three);
			}
		}
	}

	///////////////////////////////////// SMALL
	@include u.breakpoint-down(extra-medium) {
		.about-header {
			.header-content-container {
				flex-direction: column;
			}
		}
		.about-sections {
			.section-block,
			.section-block.alt {
				.content {
					flex-direction: column;
					.text {
						width: 100%;
						// text-align: ;
					}
				}
			}
		}
	}
	/////////////////////////////////////////
	@include u.breakpoint-down(small) {
		.about-sections {
			.section-block {
				.content {
					h2 {
						font-size: 1.5rem;
					}
				}
			}
		}
		.about-header {
			padding: 0;
			.header-content-container {
				border-radius: 0;
			}
			.intro-card {
				width: 100%;
			}
			.welcome-message {
				width: 100%;
				text-align: center;
				font-size: 1rem;
			}
			p {
				width: 100%;
			}
		}
		.about-sections {
			.section-block {
				.content {
					text-align: center;
					.img-container {
						max-width: 250px;
					}
				}
			}
		}
		.img-container {
			max-width: 250px;
		}
	}

	///end #about
}
