@use "../util" as u;

#about {
	h1,
	h2,
	h3 {
		color: var(--three);
	}
	h4 {
		color: var(--five);
	}
	h5,
	p {
		color: #565656;
	}
	// .text {
	// 	padding: 5% 0;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: space-evenly;
	// 	h3 {
	// 		margin: 1em 0;
	// 	}
	// }
}
