@use "../util" as u;

#contact {
	.booking-form {
		// padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		// background: linear-gradient(
		// 	180deg,
		// 	rgba(252, 243, 232, 1) 0%,
		// 	rgba(231, 200, 231, 1) 100%
		// );
		background-color: var(--seven);
		.content {
			max-width: 1400px;
			gap: 5em;
		}
		.img-container {
			max-width: 300px;
		}
		.microcopy {
			h2 {
				color: var(--three);
			}
			p {
				color: #4d4d4d;
			}
		}
		label {
			color: #4d4d4d;
		}
		.contact-text {
			width: clamp(300px, 40%, 1000px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			h1 {
				color: var(--three);
			}
			h2 {
				margin-bottom: 1em;
			}
			h3 {
				margin: 0.5em;
				color: var(--four);
			}

			color: #4d4d4d;
		}
		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			width: clamp(300px, 50%, 700px);
			border-radius: 5em;
			background: linear-gradient(
				180deg,
				rgba(231, 200, 231, 1) 0%,
				rgba(252, 243, 232, 1) 100%
			);
			padding: 3em;
			.input-container {
				display: flex;
				flex-direction: column;
				margin-bottom: 2em;
				textarea {
					height: 7em;
				}
				input {
					padding: 1em;
				}
				input:focus,
				textarea:focus {
					outline: none;
					border: 2px solid #2684ff;
				}

				input,
				textarea {
					border: 1px solid #ccc;
					border-radius: 5px;
				}

				p.error {
					padding-top: 1em;
					margin-bottom: 0;
					color: red;
				}
			}
			input[type="submit"] {
				width: fit-content;
				align-self: center;
				background: linear-gradient(
					80deg,
					rgba(2, 0, 36, 1) 0%,
					rgba(82, 72, 159, 1) 0%,
					rgba(194, 102, 167, 1) 150%
				);

				color: ivory;
				padding: 1em 2em;
				border-radius: 2em;
				border: none;
				transition: 0.3s ease-in;
				box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
				&:hover {
					transform: scale(1.1);
				}
			}
			input[type="submit"]:disabled {
				background: #eee;
				transition: none;
				&:hover {
					transform: none;
				}
			}
		}
	}
	@include u.breakpoint-down(medium) {
		.booking-form {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0;
			.contact-text,
			form {
				border-radius: 0;
				width: 100%;
			}
		}
		.input-container {
			margin-bottom: 1em;
		}

		.contact-text {
			margin-bottom: 2em;
		}
		.microcopy {
			text-align: center;
			margin: 2em 0;
		}
	}
	@include u.breakpoint-down(small) {
		.content {
			.contact-text {
				margin-bottom: 0;
			}
			.img-container {
				max-width: 180px;
			}
		}
	}
}
