@use "../util" as u;
#not-found {
	.error-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.center-title {
			padding: 1em 0;
		}
	}
}

#next-steps,
#success,
#not-found {
	color: var(--three);
	height: 60vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		180deg,
		rgba(252, 243, 232, 1) 0%,
		rgba(231, 200, 231, 1) 100%
	);
	section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@include u.breakpoint-down(small) {
		text-align: center;
	}
}
