@use "../util" as u;
#faq {
	h1,
	h3 {
		color: var(--three);
	}
	// .question-container {
	// 	margin-bottom: 5em;
	// }

	.questions-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.question-container {
			width: 100%;
			margin: 2em 0;
		}
	}
	// @include u.breakpoint-down(medium) {
	// 	.questions-container {
	// 		.question-container {
	// 			width: 100%;
	// 		}
	// 	}
	// }
}
