@use "../util" as u;
footer {
	border-top: 10px solid #eee;
	width: 100%;
	section {
		justify-content: center;
		align-items: center;
	}
	#diversity {
		background: linear-gradient(0deg, var(--three) 0%, var(--five) 100%);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.img-container {
			max-width: 250px;
			margin: 0;
		}
		h2 {
			width: 70%;
			text-align: center;
		}
	}
	h1,
	h2,
	h3,
	p {
		color: ivory;
	}
	p {
		text-align: center;
	}
	span {
		color: #565656;
		display: block;
	}

	.badges {
		background: linear-gradient(0deg, var(--five) 0%, var(--three) 100%);
		.content {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 3em;
			a {
				display: flex;
				justify-content: center;
				align-items: center;

				width: clamp(250px, 15%, 800px);
			}
			#journey {
				img {
					max-width: 200px;
				}
			}
			@include u.breakpoint-down(extra-medium) {
				a {
					width: 20%;
				}
				#journey {
					width: 15%;
				}
			}
			@include u.breakpoint-down(small) {
				flex-direction: column;
				.img-container {
					// max-height: 100px;
					width: auto;
					max-width: 180px;
					height: auto;
				}
				#journey {
					width: auto;
					max-width: 150px;
				}
			}
		}
	}

	.bottom-banner {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		border-top: 0.5em solid var(--t1);
		.img-container {
			max-width: 250px;
		}
		@include u.breakpoint-down(medium) {
			.img-container {
				max-width: 200px;
			}
		}
		@include u.breakpoint-down(small) {
			.img-container {
				max-width: 150px;
			}
		}
	}

	.bottom-banner,
	#diversity {
		@include u.breakpoint-down(medium) {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
			width: 100%;

			.box {
				width: 100%;
				h2,
				h3,
				p {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	.contact-info {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-content: center;
		padding: 1em 0;

		p {
			padding-top: 1em;
			color: #4d4d4d;
			margin: 0;
			margin-bottom: 2em;
		}
		a {
			width: fit-content;
			align-self: center;
			margin: 0.5em;
		}
		.social-links {
			display: flex;
			justify-content: center;
			.linkedin-link,
			.instagram-link {
				width: 5em;
				padding: 0.5em;
				align-self: center;
				.linkedin,
				.instagram {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.footer-links {
		padding-top: 3em;
		width: 100%;
		display: flex;
		justify-content: center;
		a {
			margin: 0 1em;
		}
	}
	.copyright {
		width: 100%;
		background-color: #eee;

		padding: 5% 0;
		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			p {
				color: var(--three);
			}
		}
	}
	a {
		transition: 0.5s;
		text-decoration: underline;
		&:hover {
			color: var(--five);
		}
	}
	#diversity {
		@include u.breakpoint-down(medium) {
			flex-direction: column;
			.img-container {
				max-width: 200px;
				margin-bottom: 2em;
			}
			div {
				margin-bottom: 3em;
			}
			h2 {
				text-align: center;
				width: 100%;
			}
		}

		@include u.breakpoint-down(small) {
			.img-container {
				max-width: 150px;
				margin-bottom: 2em;
			}
		}
	}
	small {
		padding: 1rem;
	}
	.designer-link,
	.designer-link:active,
	.designer-link:visited {
		margin: 0.4rem;
		color: var(--three);
		font-size: 1rem;
		// background-color: red;
	}
}
