@use "../util" as u;
footer {
	border-top: 10px solid #eee;
	width: 100%;

	h1,
	h2,
	h3,
	p {
		color: var(--three);
	}
	p {
		text-align: center;
	}
	span {
		color: #565656;
		display: block;
	}
	.top-banner {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		background: linear-gradient(
			180deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(82, 72, 159, 1) 0%,
			rgba(194, 102, 167, 1) 150%
		);
		.pt {
			width: 40%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.box {
			padding: 1em;
			width: 40%;
			h4,
			p {
				color: ivory;
				text-align: center;
				margin: 0;
			}
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.bottom-banner {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.top-banner,
	.bottom-banner {
		@include u.breakpoint-down(medium) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			.box {
				width: 100%;
				h2,
				h3,
				p {
					width: 100%;
					text-align: center;
				}
			}
			.pt {
				width: 100%;
			}
		}
	}
	.contact-info {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-evenly;
		align-content: center;
		padding: 1em 0;
		.linkedin-link {
			width: 5em;
			padding: 0.5em;
			align-self: center;
			.linkedin {
				width: 100%;
				height: auto;
			}
		}
	}
	.footer-links {
		padding-top: 3em;
		width: 100%;
		display: flex;
		justify-content: center;
		a {
			margin: 0 1em;
		}
	}
	.copyright {
		width: 100%;
		background-color: #eee;
		padding: 5% 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	a {
		transition: 0.5s;
		text-decoration: underline;
		&:hover {
			color: var(--five);
		}
	}
}
