@use "../util" as u;
#groups {
	color: #4d4d4d;

	ul {
		padding: 0;
		width: 100%;
	}
	p {
		font-size: 1.5em;
		margin: 0;
	}

	section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	section,
	ul,
	li {
		border-radius: 2em;
	}
	h1,
	h2,
	h3 {
		color: var(--four);
		text-align: center;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.6em;
	}
	h3 {
		font-size: 2em;
	}
	#prog-title {
		// background-color: var(--t3);
		// color: var(--two);
		background-color: var(--t3);
		.prog-image {
			width: 30em;
			height: 30em;
			margin-bottom: 4em;
			background-position: center;
			background-size: cover;
			border-radius: 100%;
		}
		.title-content {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			max-width: 1000px;
		}
	}

	#prog-desc {
		// flex-direction: row;
		// justify-content: space-between;
		// align-items: center;
		// flex-wrap: wrap;
		.week-desc {
			// width: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			list-style: none;
			p {
				margin: 0;
			}
			li {
				padding: 2em;
				margin: 1em;
				width: 100%;
				background-color: var(--t3);
			}
		}
		h2 {
			width: 100%;
			text-align: center;
			margin-bottom: 1em;
		}
	}
	.prog-desc-two {
		padding-top: 0;
		ul {
			width: 60%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style: none;
			align-items: flex-start;
			background-color: var(--t3);
			padding: 2.5em 0;

			li {
				padding: 1.5em;
				// margin: 1em;
				width: 100%;
			}
			h3 {
				padding-left: 1em;
				color: var(--four);
				// align-self: flex-start;
			}
		}
		li {
			font-size: 1.2em;
		}
	}
	#prog-cta {
		background-color: var(--t3);
		color: var(#4d4d4d);
		margin-bottom: 2em;
		width: clamp(300px, 80%, 1000px);
		text-align: center;
		h3 {
			color: #4d4d4d;
			margin: 0.7em 0;
		}
		h2 {
			color: var(--four);
		}

		a,
		a:visited,
		a:active {
			color: var(--four);
			text-decoration: underline;
			font-size: inherit;
			// margin: 1em;
			svg {
				margin: 0 1em;
			}
		}
	}

	@include u.breakpoint-down(extra-medium) {
		ul {
			width: 100%;
		}
	}
	@include u.breakpoint-down(small) {
		h1 {
			font-size: 2.5em;
		}
		h2 {
			font-size: 2em;
		}
		h3 {
			font-size: 1.6em;
		}
		p {
			font-size: 1.3em;
		}
		#prog-title {
			text-align: center;
			.prog-image {
				width: 20em;
				height: 20em;
				margin-bottom: 2em;
			}
		}
		.prog-desc-two {
			ul {
				width: 100%;
			}
		}
	}
}
