@use "../util" as u;
@use "sass:math" as m;

////////////////////////// DESKTOP

#homeTwo {
	// justify-content: center;
	.img-container {
		width: clamp(350px, 25%, 1200px);
	}
	section {
		padding: 10em 2em;
	}

	#fees {
		// background-color: var(--seven);
		width: 100vw;
		margin-top: 5em;
		padding: 5em;
		h4 {
			width: clamp(300px, 80%, 1000px);
		}
	}
	.tagline {
		font-size: 3em;
		color: var(--three);
		margin-bottom: 0;
	}

	// color: #585858;

	#banner {
		// background-color: var(--seven);
		background: #fcf3e8;
		background: linear-gradient(
			180deg,
			rgba(252, 243, 232, 1) 0%,
			rgba(231, 200, 231, 1) 100%
		);
		// display: flex;
		// flex-direction: row-reverse;
		// justify-content: space-evenly;
		// align-items: center;

		.text {
			display: flex;
			flex-direction: column;
			max-width: 60%;
		}
		.img-container {
			width: 100%;
			max-width: 450px;
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
	#cta {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		background: #fcf3e8;
		.img-container {
			max-width: 280px;
		}
		background: linear-gradient(
			0deg,
			rgba(252, 243, 232, 1) 0%,
			rgba(231, 200, 231, 1) 100%
		);

		h1 {
			font-size: 3em;
			color: var(--two);
			margin: 0.5em 0 0 0;
		}
		span {
			font-size: 1.5em;
			color: #4d4d4d;
		}
		// background-color: var(--seven);
		// padding: 0;
		.img-container {
			img {
				border-radius: 100%;
			}
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			width: clamp(350px, 70%, 800px);
			.name {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-bottom: 1em;
			}
			a {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				background-color: var(--seven);
				color: #4d4d4d;
				margin-top: 2em;
				padding: 1em;
				// border: 1px solid #4d4d4d;
				font-weight: 500;
				border-radius: 10px;
				width: clamp(280px, 40%, 500px);
				text-align: center;
				box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
				transition: 0.4s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	#home-bio {
		background-color: var(--seven);
		flex-direction: row-reverse;
		justify-content: space-evenly;
		align-items: center;

		.text {
			width: clamp(350px, 70%, 800px);
		}
		// padding: 0;
		h2 {
			color: var(--three);
		}
		p {
			max-width: 900px;
			text-align: center;
			font-size: 1.2em;
			line-height: 1.8em;
			color: #4d4d4d;
		}
	}

	h1 {
		// background-color: red;
		font-size: 1em;
		font-weight: 500;
		padding: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0.5em 0;
		width: 100%;
		text-align: center;
	}
	h2 {
		// margin: 1em 0;
		color: #4d4d4d;
	}
	h3,
	p {
		color: #4d4d4d;
	}
	h3 {
		width: clamp(350px, 70%, 1000px);
		align-self: center;
	}
	h4 {
		font-weight: 400;
		color: #4d4d4d;
	}

	.fs-banner {
		// padding-bottom: 0;
		// background-color: var(--seven);
		// width: 100%;
		background: #fcf3e8;
		background: linear-gradient(
			0deg,
			rgba(252, 243, 232, 1) 0%,
			rgba(231, 200, 231, 1) 100%
		);
		.content {
			flex-direction: column;
		}
		.f-container {
			// width: clamp(320px, 70%, 900px);
			padding: 2em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			a,
			a:active,
			a:visited {
				font-size: inherit;
				text-decoration: underline;
				color: var(--four);
				transition: 0.4s;
				&:hover {
					color: var(--five);
				}
			}
			.center-title {
				font-size: 3em;
				margin: 0;
				color: var(--two);
			}
			.f {
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 1em;
				.fee-container {
					background-color: var(--t3);
					width: 45%;
					padding: 2em;
					border-radius: 1em;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.specs {
			// width: 50%;
			.container {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				max-width: 1100px;
				.spec {
					box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
					background-color: #f5ebe0;
					padding: 1em;
					text-align: center;
					margin: 1em;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					p {
						margin: 0;
						font-weight: 500;
					}
					transition: 0.4s;
					&:hover {
						scale: (1.1);
					}
				}
			}
		}
	}
}
/////////////////////////// END DESKTOP

////////////////////////////// TABLET AND MOBILE

@include u.breakpoint-down(extra-medium) {
	#homeTwo {
		.fs-banner {
			width: 100%;
			flex-direction: column;
			.specs {
				width: 100%;
			}
			.f-container {
				width: 100%;
				.center-title {
					font-size: 2.5em;
				}
				.f {
					flex-direction: column;

					.fee-container {
						width: 100%;
						margin: 1em auto;
					}
				}
			}
		}
		#banner {
			flex-direction: column;

			.text {
				width: 100%;
			}
		}
		.tagline {
			font-size: 2.5em;
		}
		#cta,
		#home-bio {
			flex-direction: column;
		}
	}
}

@include u.breakpoint-down(small) {
	#homeTwo {
		section {
			padding: 5em 1em;
		}
		#banner {
			.content {
				flex-direction: column-reverse;
				.text {
					width: 100%;
					max-width: 100%;
				}
			}
		}

		#fees {
			padding: 2em;
		}
	}
}
