#insurance-page {
	#insurance-section {
		background-color: var(--t3);
		align-items: center;
		h1,
		h2,
		h3,
		h4 {
			// text-align: center;
			// margin-bottom: clamp(20px, 5em, 40px);
			width: clamp(300px, 80%, 900px);
			color: #4d4d4d;
		}
		p {
			font-size: 1.3em;
			width: clamp(300px, 80%, 900px);
			color: #4d4d4d;
			padding: 0.5em 0;
		}
		h1 {
			color: var(--four);
			margin-bottom: 0;
			font-size: 1.8em;
		}
		h2.purple {
			font-size: 1.4em;
			margin-bottom: 0;
			text-decoration: underline;
		}
		h3 {
			font-size: 1.3em;
			margin-bottom: 0;
		}
		font-size: 1em;

		.purple {
			color: var(--four);
		}
		ul {
			margin-top: 0;
			margin-bottom: 0;
			width: clamp(300px, 80%, 700px);
			li {
				margin: 1.5em 0;
				font-size: 1.2em;
				color: #4d4d4d;
			}
		}
		.subtext {
			text-align: center;
			margin-bottom: clamp(20px, 5em, 40px);
			width: clamp(300px, 60%, 700px);
			font-size: 1.5em;
		}
		.help {
			padding: 2em 0;
			a {
				color: var(--two);
				font-size: inherit;
				text-decoration: underline;
			}
		}
		.steps {
			// background-color: var(--t2);
			border: 0.6em solid var(--t2);
			padding: clamp(20px, 5em, 40px);
			// margin-top: 3em;
			width: clamp(375px, 80%, 1000px);
			.step-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			p {
				color: #4d4d4d;
			}
		}
	}
}
