@use "../util" as u;
@use "sass:math" as m;

nav {
	position: sticky;
	top: 0;
	left: 0;
	background-color: white;
	border-bottom: 0.2em solid var(--four);
	/////////////
	z-index: 200;
	--font-size: clamp(10px, 2.5vw, 25px);
	height: clamp(50px, 25vh, 200px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	// background-color: var(--two);
	color: var(--three);

	h1 {
		margin: 0;
	}
	.link-button {
		padding: 1em 2em;
	}

	.header {
		// padding: clamp(u.rem(20), u.rem(35) + 2vh, u.rem(40));
		// background-color: red;
		height: 100%;
		width: 25%;

		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		a,
		a:visited {
			padding: 0;
			margin: 0;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				height: auto;
				width: 100%;
				// width: 100%;
			}
		}
		font-size: clamp(u.rem(20), u.rem(35) + 2vh, u.rem(40));
		font-weight: 800;
	}

	ul {
		--padding: 20px;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow-y: hidden;
		transition: 1s cubic-bezier(0.68, -0.55, 0.27, 10.55);
		li {
			font-size: var(--font-size);
			padding: var(--padding);
			// padding: 100px;

			a,
			a:visited {
				position: relative;
				color: inherit;
				&::after {
					content: "";
					width: 0%;
					height: 1.7px;
					border-radius: 99px;
					background: var(--five);
					position: absolute;
					bottom: 0;
					left: 0;
					transition: 0.3s ease;
				}
				&:hover::after {
					width: 100%;
				}
			}
		}
	}
}

nav {
	// menu

	.menu {
		width: 22px;
		height: 16px;
		cursor: pointer;
		display: none;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		margin: 20px;
		span {
			width: 100%;
			height: 2px;
			border-radius: 99px;
			background: #565656;
			transition: 0.3s ease;
			transform-origin: left;
		}
	}

	.menu.active span:nth-child(1) {
		transform: rotate(40deg);
	}

	.menu span:nth-child(3) {
		transform-origin: left;
	}

	.menu.active span:nth-child(3) {
		transform: rotate(-40deg);
	}

	.menu.active span:nth-child(2) {
		transform: scale(0);
	}

	@include u.breakpoint-down(extra-medium) {
		width: 100%;
		flex-direction: row;
		margin-top: 0;
		height: 10vh;
		// background-color: var(--light-gray);
		// background-color: #d264b6;

		.header {
			// font-size: clamp(u.rem(10), u.rem(15) + 1.5vw, u.rem(35));
			padding: 0.1em;
		}
		.menu {
			display: flex;
		}
		ul {
			--height: 0px;
			transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
			flex-direction: column;
			position: absolute;
			width: 100%;
			left: 0;
			margin: 0;
			height: var(--height);
			top: var(--nav-height);
			background: linear-gradient(
				180deg,
				rgba(2, 0, 36, 1) 0%,
				rgba(82, 72, 159, 1) 0%,
				rgba(194, 102, 167, 1) 150%
			);
			// top: var(--nav-height);
			li {
				color: ivory;
				width: 100%;
				text-align: center;
				font-weight: 500;
				a {
					width: 100%;
				}
			}
		}
		ul.active {
			--height: calc(
				(((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--children) +
					20px
			);
			transition: 1s ease;
		}
	}
}

@include u.breakpoint-down(small) {
	.link-button {
		padding: 0.2em;
	}
	nav {
		--font-size: clamp(15px, 10vw, 25px);
		.header {
			a,
			a:visited {
				img {
					height: 100%;
					width: auto;
				}
			}
		}
		ul {
			li {
				a,
				a:visited {
					&::after {
						background: var(--five);
					}
				}
			}
		}
	}
}
