@use "../util" as u;
@use "sass:math" as m;

///////////////////// General

nav {
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
	align-items: center;
	text-align: center;
	border-bottom: 0.5em solid #aaaaaa;
	z-index: 100;
	ul {
		margin: 0;
		padding: 0;
	}
	.logo-container {
		width: 25%;
		padding: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: fit-content;
		}
	}

	.nav-links {
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		// width: 40%;
		// background-color: red;
		a {
			font-size: 1.2em;
			color: var(--three);

			display: flex;
			justify-content: center;
			align-items: center;
			&:visited,
			&:active {
				color: var(--three);
			}
		}
		.submenu {
			z-index: 100;
			a {
				font-size: 1.2em;
				color: var(--three);
				&:visited,
				&:active {
					color: var(--three);
				}
			}
		}
	}
}
///////////////////// Desktop
@include u.breakpoint(large) {
	nav {
		button {
			// // position: absolute;
			// // left: 60%;
			// background-color: inherit;
			// border: none;
			// color: var(--three);
			// // padding: 0 1em;
			display: none;
		}
		#ham-menu {
			display: none;
		}
		li {
			padding: 1em;
			cursor: default;
		}
		.dropdown {
			position: relative;
			&:hover {
				.submenu {
					border-radius: 1em;
					padding: 1em;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					background: linear-gradient(
						180deg,
						rgba(252, 243, 232, 1) 50%,
						rgba(231, 200, 231, 1) 100%
					);
					color: var(--three);
					border: 1px solid var(--three);
					display: block;
					position: absolute;
					top: 2.2em;
					left: -1em;
				}
			}
		}
		.submenu {
			list-style: none;
			display: none;
		}
	}
}
//////////////////////////////////////////// MOBILE

@include u.breakpoint-down(medium) {
	nav {
		justify-content: space-between;
		padding: 1em 2em;
		////////////////////// Ham Menu
		.menu-icon-container {
			display: inline-block;
			cursor: pointer;
		}
		#ham-menu {
			.bar1,
			.bar2,
			.bar3 {
				width: 35px;
				height: 5px;
				background-color: var(--four);
				margin: 6px 0;
				transition: 0.4s;
			}

			.change .bar1 {
				transform: translate(0, 11px) rotate(-45deg);
			}

			.change .bar2 {
				opacity: 0;
			}

			.change .bar3 {
				transform: translate(0, -11px) rotate(45deg);
			}
		}
		/// ///////////////////////////////
		///
		.logo-container {
			padding: 0.5em;
			width: 50%;
			img {
				width: 100%;
			}
		}
		width: 100%;
		position: relative;
		.nav-links {
			list-style: none;
			position: absolute;
			left: 0;
			top: var(--nav-height);
			max-height: 0 !important;
			visibility: hidden;
			opacity: 0;
			transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
			overflow: hidden;
			width: 100%;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
			background: linear-gradient(
				180deg,
				rgba(252, 243, 232, 1) 50%,
				rgba(231, 200, 231, 1) 100%
			);

			ul {
				list-style: none;
			}
			li {
				padding: 1em 0;
			}
			.dropdown {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				flex-wrap: wrap;
				margin: 0;

				button {
					padding-bottom: 0.5em;
					background-color: inherit;
					border: none;
					// color: ivory;
					// padding: 0 1em;
				}
				.submenu {
					// display: none;
					// background-color: rgb(69, 67, 67, 0.5);
					// overflow: none;
					padding: 1.5em 0;
					max-height: 0 !important;
					width: 0;
					overflow: hidden;
					transition: max-height 0.2s ease-in-out;
					visibility: hidden;
					opacity: 0;
				}
				.submenu.active {
					// display: block;
					background-color: var(--t2);
					a {
						color: var(--three);
					}
					margin-top: 0.5em;
					// width: 100vh;
					max-height: 900px !important; // big enough to contain your content
					width: 100vw;
					visibility: visible;
					opacity: 1;
				}
				// &:hover {
				// 	.submenu {
				// 		display: block;
				// 		background-color: green;
				// 		position: relative;
				// 		width: 100%;
				// 		border-radius: 0;
				// 	}
				// }
			}
		}
		.nav-links.active {
			max-height: 900px !important;
			visibility: visible;
			opacity: 1;
			padding-top: 1em;
			border-bottom: 0.3em solid var(--three);
			border-radius: 0 0 1em 1em;
			a {
				color: var(--three);
			}
		}
	}
}
// .mobile-links {
//   list-style: none;
//   position: absolute;
//   left: 0;
//   top: var(--nav-height);
//   width: 100%;
//   background-color: red;
//   display: flex;
//   flex-direction: column;
//   // justify-content: center;
//   align-items: center;
//   li {
//     padding: 1em;
//   }
//   .dropdown {
//     &:hover {
//       .submenu {
//         display: block;
//         background-color: green;
//         position: relative;
//         width: 100%;
//         border-radius: 0;
//       }
//     }
//   }
// }
