@use "../util" as u;

#spec {
	h1,
	h2 {
		color: var(--three);
		text-align: center;
		width: 100%;
	}
	h3 {
		color: #4d4d4d;

		margin: 1em 0;
	}
	h4 {
		color: var(--four);
		margin: 0;
		width: 100%;
		text-align: left;
	}
	p {
		font-size: 1.15em;
		color: #4d4d4d;
	}

	.content {
		flex-direction: column;
	}
	.specc-section {
		.content {
			gap: 3em;
		}
	}
	.intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			width: clamp(300px, 80%, 800px);
		}
		.content {
			padding: 4em 0;
			border-radius: 2em;
			background: linear-gradient(
				0deg,
				rgba(252, 243, 232, 1) 0%,
				rgba(231, 200, 231, 1) 100%
			);
		}
	}

	.specc-container {
		// margin: 1em 0;
		padding: 2em;
		// margin: 2em;
		// background-color: var(--seven);
		background: linear-gradient(
			0deg,
			rgba(252, 243, 232, 1) 0%,
			rgba(231, 200, 231, 1) 100%
		);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// align-items: ;
		flex-wrap: wrap;

		.text-container {
			h3 {
				text-align: center;
				width: 100%;
			}
		}
		.specc {
			scroll-margin-top: 13em;
			padding: 1em 0;
			p {
				padding: 1em 0;
				color: #4d4d4d;
			}
		}
	}
	@include u.breakpoint-down(extra-medium) {
		// .intro {
		// 	width: 100%;
		// 	h3 {
		// 		width: 80%;
		// 	}
		// }
		.specc-container {
			width: 100%;
			// margin: 1em 0;
		}
	}
	@include u.breakpoint-down(small) {
		.intro {
			padding: 0;
			.content {
				border-radius: 0;
			}
			// border: 10px solid red;
			h3 {
				width: 100%;
				text-align: center;
				margin: 1em 0;
			}
		}
		p {
			text-align: center;
		}
		h4 {
			text-align: center;
		}
		.specc-section {
			margin-top: 3em;
			padding: 0;
			.specc-container {
				border-radius: 0;
			}
		}
	}
}

///////////////////////////////

#specialities {
	h1 {
		color: ivory;
	}
	h2,
	h3 {
		color: var(--three);
	}
	h5,
	p {
		color: #565656;
	}
	background-color: var(--t2);
	// border-radius: 3em;

	#specialities-section {
		padding: 2em;
		.text {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.content {
				height: 0;
				overflow: hidden;
				line-height: 1.5;
				color: #4d4d4d;
				cursor: text;

				&.active {
					height: fit-content;
					margin: 1em 3em;
				}
			}
			.spec-container {
				height: 25vh;
				// width: clamp(200px, 45%, 800px);
				hyphens: auto;

				// height: 60vh;
				// margin: 1em;
				padding: 1em;
				border-radius: 1em;
				background: var(--t3);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.icon {
					cursor: pointer;
					width: 100%;
					padding: 1em;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&.active {
					min-height: 35vh;
					height: fit-content;
				}
				h3 {
					color: var(--three);
					text-align: center;
					// width: 100%;
					margin: 1em auto;
				}
				p {
					color: #4d4d4d;
					font-size: 1.15em;
				}
				button {
					border: none;
					background-color: transparent;
					color: #4d4d4d;

					width: 100%;
					text-align: center;
					cursor: pointer;
				}
			}
		}
	}
	@include u.breakpoint-down(medium) {
		.banner-container {
			height: 30vh;
		}
		.img-container {
			width: 50%;
		}
		#specialities-section {
			.text {
				width: 100%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				.content {
					&.active {
						margin: 1em 0.2em;
					}
				}

				.spec-container {
					width: 100%;
					// margin: 2em 0;
					// margin-bottom: 2em;
				}
			}
		}
	}
}
