@use "../util" as u;

#specialities {
	h1,
	h2,
	h3 {
		color: var(--three);
	}
	h5,
	p {
		color: #565656;
	}
	#specialities-section {
		.text {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.spec-container {
				height: fit-content;
				width: 30%;
				margin: 1em 0;
				padding: 1em;
				border-radius: 1em;
				background: linear-gradient(
					180deg,
					rgba(2, 0, 36, 1) 0%,
					rgba(82, 72, 159, 1) 0%,
					rgba(194, 102, 167, 1) 150%
				);
				h3 {
					color: var(--six);
					text-align: center;
					width: 100%;
				}
				p {
					color: ivory;
				}
				button {
					border: none;
					background-color: transparent;
					color: ivory;
					font-weight: 600;
					width: 100%;
					text-align: center;
					cursor: pointer;
				}
			}
		}
	}
	@include u.breakpoint-down(medium) {
		.banner-container {
			height: 30vh;
		}
		#specialities-section {
			.text {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				.spec-container {
					width: 90%;
					margin-bottom: 2em;
				}
			}
		}
	}
}
